<div class="sticky top-20 sm:-top-[30rem] xl:top-8">
    <div class="w-full h-screen  xl:h-screen sm:h-[90vh] bg-[#4B5F41]">
        <p
            class="text-lg py-24 xl:py-14 -mx-24 sm:-mx-20 xl:-mx-24 -rotate-90 absolute top-[5.3rem]  xl:top-[8rem] xl:text-xl left-0 font-bold text-white">
            CUSTOMIZE YOUR PACKAGING</p>
        <div class="sm:flex sm:w-[90%]  sm:ml-auto xl:right-0 sm:items-center xl:items-start xl:justify-between">
            <div class="w-[80%] sm:w-[50%] xl:w-full px-8 py-4 xl:pt-40 xl:-ml-16 ml-12 sm:ml-0 text-white">
                <h1 class="text-[#7DC242] text-2xl xl:text-4xl font-bold">CUSTOMIZE <br><span class="text-white">YOUR
                        PACKAGING</span></h1>
                <p class="py-2 xl:py-6">Create custom packaging with Falconpack.com. Choose from many options and get instant
                    quotes, fast delivery and flexible payment. Contact us now!</p>
                <div class="xl:w-[80%] xl:mr-auto">
                    <button class="bg-[#7dc242]  rounded-xl flex p-4 xl:text-base xl:py-2 xl:pl-2 items-center justify-between xl:justify-center ">
                        <div class="text-white px-2">READ MORE</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" height="1em" viewBox="0 0 448 512">
                            <path
                                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="w-[85%] sm:w-[50%]  sm:mt-10 ml-auto xl:hidden">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="p-2">
                            <img src="../../../assets/p1.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                            <img src="../../../assets/p4.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="p-2">
                            <img src="../../../assets/p2.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                            <img src="../../../assets/p3.png" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="p-2">
                             <img src="../../../assets/p3.png" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                             <img src="../../../assets/p2.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="p-2">
                            <img src="../../../assets/p4.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                            <img src="../../../assets/p1.jpg" class="w-[100px] h-[100px] rounded-lg p-1" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="hidden sm:hidden xl:block ">
                <div class="w-[90%] ml-auto h-full ">
                    <img src="../../../assets/agenlaku-indonesia-SRFOOdORhKw-unsplash.jpg"
                        class="xl:h-screen xl:w-[180rem] " alt="">
                </div>
            </div>
            <!-- <div class="bg-gradient-to-r from-[#4B5F41] top-0 left-0 absolute w-[80%] h-full "></div> -->

        </div>
    </div>
</div>