<div class="sticky top-[5.5rem] sm:-top-96 xl:top-[4.3rem]">
    <!-- <div class="h-screen w-full bg-black/50 "></div> -->
    <div class="">
        <div class="h-screen sm:hidden w-full overflow-x-hidden relative flex justify-center bg-black/50">
            <!-- <img src="../../../assets/Mask Group 73.png" class="h-full w-full" alt=""> -->
            <video src="../../../assets/Videof978825d-0929-4d90-929d-7df09e1f8cdf.mp4"
                class=" -z-10 left-0  border-0 absolute max-w-3xl max-h-screen" loop autoplay muted></video>
        </div>
    </div>
    <div class="hidden sm:block xl:hidden ">
        <div class="h-screen flex items-center justify-center w-full overflow-y-hidden bg-black/50">
            <video src="../../../assets/Videof978825d-0929-4d90-929d-7df09e1f8cdf.mp4"
                class="-z-10 aspect-w-4 aspect-h-3" loop autoplay loop muted></video>
        </div>
    </div>

    <div class="hidden sm:hidden xl:block">
        <div class=" h-screen  xl:h-full flex items-center justify-center bg-white/30">
            <video autoplay muted loop class="w-full -z-10">
                <source src="../../../assets/pc.mp4" srcset="">
            </video>
        </div>
    </div>
    <div class="py-8 sm:py-0 sm:pb-0 sm:-mb-[1.45rem]">
        <div
            class="text-lg py-32 xl:py-16 -rotate-90 absolute top-0 xl:top-[4.2rem] -left-10 font-bold text-[#FFFFFF] xl:text-black">
            GLOBAL PRESENCE
        </div>
        
        <div class="absolute left-8 top-[16rem] sm:top-[5rem] sm:left-20 xl:left-60 xl:top-[13rem]">
        <div class="sm:w-[45rem] w-[90%] mx-auto bg-white rounded-2xl px-4 py-8 sm:py-4 xl:px-20 xl:w-[55rem] xl:py-8 sm:flex sm:items-center sm:justify-between">
            <div class="flex items-center gap-8 p-8 sm:p-2 sm:gap-2">
                <div class="flex flex-col items-center justify-start">
                    <img src="../../../assets/Group 8115.svg" class="" alt="">
                    <h3 class="text-green-700 font-bold text-3xl py-2 sm:py-2">8</h3>
                    <p class="text-black sm:text-xs">BRANCHES</p>
                </div>
                <div class="flex flex-col items-center justify-start">
                    <img src="../../../assets/Group 8116.svg" class="" alt="">
                    <h3 class="text-green-700 font-bold text-3xl py-2">24</h3>
                    <p class="text-black sm:text-xs sm:w-[8rem] sm:text-center">SALES CENTERS</p>
                </div>
            </div>
            <div class="flex justify-between items-center w-[90%] mx-auto border-b border-black/50">
                <input type="search" class="text-black px-4 py-2 sm:w-full xl:w-full" placeholder="Select your nearby location">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
        </div>
       
    </div>


        
    </div>
</div>