<div class="h-full w-full sticky top-20 bg-white xl:h-screen xl:top-5">
    <p class="text-lg py-8 xl:py-0 -mx-8 sm:-mx-8 xl:-mx-4 -rotate-90 absolute top-[5.3rem]  xl:top-[8rem] xl:text-xl left-0 font-bold">HAPPY CLIENTS</p>
    <div class="w-[85%] sm:w-[80%] sm:ml-auto xl:w-full xl:py-24 ml-auto xl:mr-auto xl:p-24 py-4 pr-6 xl:pr-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-white rounded-xl">
                    <img src="../../../assets/hc1.png" class="from-transparent to-white p-4" alt="">
                </div>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[160px] xl:w-[220px]   xl:rounded-none bg-[#D6EAC4] rounded-xl">
                    <img src="../../../assets/hc2.png" class="from-transparent to-white p-4" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px]  xl:rounded-none bg-[#D6EAC4] rounded-xl">
                    <img src="../../../assets/hc4.jpg" class="from-transparent to-white p-4" alt="">
                </div>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-white rounded-xl">
                    <img src="../../../assets/hc3.jpg" class="from-transparent to-white p-4" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-white rounded-xl">
                    <img src="../../../assets/hc5.png" class="from-transparent to-white p-4" alt="">
                </div>
                <div class="relative p-2 sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-[#D6EAC4] rounded-xl">
                    <img src="../../../assets/hc6.jfif" class="from-transparent to-white p-4" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-[#D6EAC4] rounded-xl">
                    <img src="../../../assets/hc7.png" class="from-transparent to-white p-4" alt="">
                </div>
                <div class="relative  p-2  sm:p-2 xl:p-4 w-[150px] xl:w-[220px] xl:rounded-none bg-white rounded-xl">
                    <img src="../../../assets/hc8.png" class="from-transparent to-white p-4" alt="">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>