<div class="sticky top-[5.5rem] sm:top-[3rem] xl:top-[4.3rem]">
    <!-- <div class="h-screen w-full bg-black/50 "></div> -->
    <div class="">
        <div class="h-screen sm:hidden w-full overflow-x-hidden relative flex justify-center bg-black/50">
            <!-- <img src="../../../assets/Mask Group 73.png" class="h-full w-full" alt=""> -->
            <video src="../../../assets/Videof978825d-0929-4d90-929d-7df09e1f8cdf.mp4" class=" -z-10 left-0  border-0 absolute max-w-3xl max-h-screen" autoplay muted></video>
        </div>
    </div>
    <div class="hidden sm:block xl:hidden ">
        <div class="h-screen flex items-center justify-center w-full bg-black/50">
            <video src="../../../assets/Videof978825d-0929-4d90-929d-7df09e1f8cdf.mp4" class="-z-10 aspect-w-4 aspect-h-3" autoplay loop
                muted></video>
        </div>
    </div>
    
    <div class="hidden sm:hidden xl:block">
        <div class=" h-screen flex items-center justify-center bg-black/50">
            <video autoplay muted loop class="w-full -z-10" >
                <source src="../../../assets/pc.mp4" srcset="">
            </video>
        </div>
    </div>
    <div class="">
        <div class="text-lg py-20 xl:hidden -rotate-90 absolute top-0 xl:top-[4.2rem] -left-8 font-bold text-[#FFFFFF]">
            ECO-FRIENDLY</div>
        <div class="absolute top-7 left-16 right-16 xl:pt-20">
            <p class="text-[white] xl:w-[80%] xl:mx-auto  font-semibold">HOME / SUSTAINABILITY</p>
            <h1 class="text-[#7dc242] xl:w-[80%] xl:mx-auto  text-2xl xl:text-5xl xl:py-8 font-bold">SUSTAINABILITY</h1>
            <p class="text-[#DADDDA] xl:w-[80%] xl:mx-auto font-bold">Forest Stewardship Council (FSC) and Program for the Endorsement of
                Forest Certification (PEFC) are
                non-profit organizations, that set high standards to make sure that forests are responsibly managed,
                socially beneficial, environmentally conscious and economically viable. The core purpose is to protect
                forests for future generations.
            </p>
            <p class="text-[#DADDDA] xl:w-[80%] xl:mx-auto  font-bold py-5">Products labeled as FSC or PEFC Certified means that they meet the
                "Gold
                Standard" ethical production, and the manufacturer (Falcon Pack) meets the requirements of FSC or PEFC."
            </p>
            <!-- <div class="xl:w-[80%] xl:mx-auto xl:">
                <button class="bg-[#7dc242]  rounded-xl flex p-4 items-center justify-between ">
                    <div class="text-white px-2">READ MORE</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" height="1em" viewBox="0 0 448 512">
                        <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                    </svg>
                </button>
            </div> -->
        </div>
    </div>
</div>