<!-- <div class="bg-white rounded-b-xl h-20 w-full"></div> -->
<div class="bg-[#076e07] sticky -top-[16rem] sm:h-screen xl:top-[4.3rem] xl:h-screen text-white py-8 xl:py-28">
    <!-- <div class="w-full h-32 relative overflow-hidden">
        <div class="w-full h-full bg-[#e9f0e7] absolute box-border rounded-b-[80px]">
        </div>
    </div> -->
    <p class="text-lg py-14 -rotate-90 absolute top-0 xl:top-[4.2rem] left-0 font-bold">ABOUT US</p>
    <div class="w-full">
        <div class="flex flex-col xl:flex-row xl:justify-between xl:w-[80%] xl:items-center xl:mx-auto sm:flex-row sm:justify-between sm:w-[80%] sm:items-center sm:mx-auto sm:pl-0 pl-20  xl:pl-0">
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 6146.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Expertise</div>
                    <div class="text-2xl font-bold">30+ years</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8044.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Countries</div>
                    <div class="text-2xl font-bold">65+</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8038.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Processing <br>Plants</div>
                    <div class="text-2xl font-bold">4</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8039.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Customers</div>
                    <div class="text-2xl font-bold">52,000+</div>
                </div>
            </div>
        </div>
        <div class="flex flex-col xl:flex-row xl:justify-between xl:w-[80%]  xl:items-center xl:mx-auto pl-20 xl:pl-0 sm:flex-row sm:justify-between sm:w-[80%] sm:items-center sm:mx-auto sm:pl-0">
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8040.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Sales Divisions</div>
                    <div class="text-2xl font-bold">14</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8041.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Retailers</div>
                    <div class="text-2xl font-bold">3,000+</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8042.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Sales Centers</div>
                    <div class="text-2xl font-bold">25+</div>
                </div>
            </div>
            <div class="flex items-center px-3 xl:px-0 xl:pr-8 xl:py-0 xl:pb-8 py-4">
                <div class="px-3">
                    <img src="../../../assets/Group 8043.svg" alt="">
                </div>
                <div class="">
                    <div class="text-lg">Employees</div>
                    <div class="text-2xl font-bold">1800</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[90%] xl:w-[80%] text-[#bccab6] text-center mx-auto text-xl xl:text-2xl xl:py-8">
        Falcon pack is a global and regional leader in providing 3000+ products of Aluminum, Plastic, Paper, Foam,
        Tableware, Hygiene, Safety and Detergents. It is based in Sharjah(UAE) and has facilities in the UAE, Oman,
        Kuwait, Saudi Arabia and north Africa.
    </div>
</div>