<div class="h-screen xl:h-screen sm:h-full  sticky top-[5.5rem] sm:top-[4.5rem] xl:top-[4.3rem]">
    <div class="xl:hidden sm:hidden">
        <img src="../../../assets/AdobeStock_208765654.png" class="w-full" alt="">
    </div>
    <div class="hidden xl:block sm:block">
        <img src="../../../assets/AdobeStock_208765654_2.png" class="w-full sm:h-screen xl:h-screen" alt="">
    </div>
    <div class="flex flex-col items-center justify-center pb-10 sm:mx-auto -mt-[38rem] xl:-mt-[33rem] sm:-mt-[18rem]  xl:mx-auto sm:w-[60%] sm:h-[70%] xl:w-[50%]">
        <div class="text-center text-4xl xl:text-6xl w-[90%]">
            <div class="Gotham text-[darkgreen] sm:text-3xl">THE FUTURE OF</div>
            <div class="Gotham text-5xl sm:text-4xl xl:text-7xl -mt-4 xl:-mt-6 text-[green]">PACKAGING</div>
        </div>
        <div class="text-center w-[80%] pt-3 sm:pt-1 sm:pb-3 pb-5">
            Falcon Pack is a leading manufacturer and distributor of disposable food packaging products with an extensive range and the best quality. Established in 1992
        </div>
        <button class="bg-[#3B8004]  rounded-xl flex p-4 xl:text-base xl:py-2 xl:pl-2 items-center justify-between xl:justify-center ">
            <div class="text-white px-2">READ MORE</div>
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" height="1em" viewBox="0 0 448 512">
                <path
                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
            </svg>
        </button>
    </div>
</div>
