<div class="sticky -top-56 sm:-top-64 xl:-top-72 ">
    <img src="../../../assets/Group 6116.png" class="h-[130vh] sm:h-[120vh] xl:h-[130vh] sm:w-screen" alt="">
    <div class="">
        <div class="absolute h-full -top-16">
            <div class="h-full w-full py-4 flex flex-col items-center mx-auto">
                <p class="text-lg py-8 -mx-14 -rotate-90 absolute top-[8.3rem]  xl:top-[12rem] left-0 font-bold">BUSINESS VERTICALS</p>
                <div class="sm:flex sm:px-4 xl:px-0 sm:items-center mt-16 sm:mb-4 xl:mt-8">
                    <div class="flex flex-col text-left pb-0 pt-4 ml-16 cursor-pointer xl:px-6 xl:w-[50%] xl:ml-20 xl:pt-14">
                        <h1 class="text-2xl xl:text-4xl font-bold text-left py-2  xl:py-4 xl:pt-0 text-[#7DC242]"><span class="text-[#306B2B]">FALCON</span> PACKAGING</h1>
                        <div class="w-[90%]">
                            <p class="text-lg xl:text-2xl  xl:py-2">Falcon pack is a global player and regional leader in providing more than 3000 diversified products comprising from Aluminum foil, Aluminum and ...<span class="hidden xl:block text-lg text-[#7DC242] cursor-pointer">Read more</span></p>
                            <h3 class="text-lg xl:text-xl py-2 xl:py-0 text-[#7DC242] cursor-pointer xl:hidden">Read more</h3>
                        </div>
                    </div>
                    <div class="flex justify-center items-center sm:py-4 xl:py-0">
                        <img src="../../../assets/Group 8053.png" class="w-[90%] xl:w-full  xl:h-[90%]" alt="">
                    </div>
                </div>
                <div class="mb-10 sm:flex sm:px-4  xl:px-0  xl:-mt-24 sm:mb-0 sm:items-center xl:mb-0">
                    <div class="flex flex-col text-left pt-0 pb-4 ml-16 cursor-pointer xl:px-6 xl:w-[50%] xl:-mt-20 xl:ml-20">
                        <h1 class="text-2xl xl:text-4xl font-bold text-left py-2 text-[#7DC242]"><span class="text-[#306B2B]">FALCON</span> DETERGENTS</h1>
                        <div class="w-[90%]">
                            <p class="text-lg  xl:text-2xl  xl:py-2">Falcon Detergents Industry, an ISO 9001:2015 Certified company is a local Cleaning and Disinfectant Manufacturing company using ...<span class="hidden xl:block text-lg text-[#7DC242] cursor-pointer">Read more</span></p>
                            <h3 class="text-lg  xl:text-3xl py-2 xl:py-2 xl:hidden text-[#7DC242] cursor-pointer">Read more</h3>
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <img src="../../../assets/Group 8054.png" class="w-[90%]  xl:w-full xl:h-[90%]"  alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>