<div class="bg-[#EBF1EA] text-black sticky ">
    <div class="w-[85%] xl:py-8 mx-auto my-6">
        <p class="text-center font-bold px-2 py-4 xl:text-4xl">Marking another milestone in the journey towards sustainability, Falcon Pack has obtained certifications
            of FSC & PEFC Chain of Custody Standards (COC).</p>
        <div class="text-center py-4 ">
            <p class="text-lg xl:text-[22px]">Forest Stewardship Council (FSC) and Program for the Endorsement of Forest Certification (PEFC) are non-profit organizations, that set high standards to make sure that forests are responsibly managed, socially beneficial, environmentally conscious and economically viable. The core purpose is to protect forests for future generations.
            </p>
            <p class="text-lg xl:text-[22px] py-6">Products labeled as FSC or PEFC Certified means that they meet the "Gold Standard" ethical production, and the manufacturer (Falcon Pack) meets the requirements of FSC or PEFC."</p>
        </div>
    </div>
    <div class=" pt-0 pb-16 xl:flex xl:items-center xl:justify-between xl:flex-row  xl:px-6 ">
        <div class="bg-white shadow-lg flex px-4 py-2 items-center mx-auto w-[90%] rounded-xl">
            <div class="pr-4">
                <img src="../../../assets/Mask Group 70.png" class="w-[200px]" alt="">
            </div>
            <div class="pl-3">
                <h1 class="text-xl font-bold">Product</h1>
                <p class="text-lg py-2">Delivering solutions for a better tomorrow environmental impact</p>
            </div>
        </div>
        <div class="py-4 xl:w-full">
            <div class="bg-white shadow-lg flex px-4 py-6 items-center mx-auto w-[90%] rounded-xl xl:py-2">
                <div class="pr-4 mx-auto xl:mx-0">
                    <img src="../../../assets/Mask Group 71.png" class="w-[120px]" alt="">
                </div>
                <div class="pl-3">
                    <h1 class="text-xl font-bold">Process</h1>
                    <p class="text-lg py-2">Minimizing our environmental impact</p>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg flex px-4 py-6 items-center mx-auto w-[90%] rounded-xl xl:py-1">
            <div class="pr-4">
                <img src="../../../assets/Mask Group 72.png" class="w-[130px]" alt="">
            </div>
            <div class="pl-3">
                <h1 class="text-xl font-bold">People</h1>
                <p class="text-lg py-2">Benefiting our teams and communities</p>
            </div>
        </div>
    </div>
</div>